
<div id="footer" class= "xs-padded text-center">

  <div class="container">
    <div class="row">
        <%link_to "#" do%>
          <i class="fa fa-instagram icon-small"></i>
        <% end %>
        <%link_to "#" do%>
          <i class="fa fa-facebook-square icon-small"></i>
        <% end %>
        <%link_to "#" do%>
          <i class="fa fa-twitter-square icon-small"></i>
        <% end %>

        <p>©Dinn'izer <%= Date.today.year %>
        </p>

    </div>
  </div>
</div>
