.btn-banner {
  margin-top: 20px;
  font-family: "Lato", "sans-serif";
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  background: transparent;
  border: 1px solid white;
  &:hover {
    background: white;
    color: $red;
    border: 1px solid white;
  }
}


.scroll-btn {
  position: absolute;
  width: 100px;
  margin-left: -50px;
  bottom: 20px;
  left: 50%;
  text-align: center;
  font-size: 40px;
  color: white;
}


.btn-primary {
  font-family: "Lato", "sans-serif";
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}

.btn-full-width {
  width: 100%;
}
